<%= form_for(@post, html:{class:'aui'}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="aui-group">
    <div class="aui-item">
      <div class="field">
        <p>This form can use markdown</p>
        <%= f.text_area :content, class:'textarea full-width-field',rows:30, id:'post-text'%>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div class="aui-item" id="preview">
    </div>
  </div>
  <script>
    $(function(){
      var preview = function($el){
        $('#preview').html(marked($el['target'].value));
      };
      $('#post-text').on('keyup',preview);
      $('#preview').html(marked($('#post-text').val()));
    });
  </script>
<% end %>
